# Editor settings
# The VS Code editor settings are different for each user
.vscode/

# Python cache
# Standard Python cache - we don't need it
__pycache__/
*.pyc

# Model file
# The model file is dynamic so it makes no sense to include it in the GitHub repo
model.stl

# Stop tracking _internal build folders
**/_internal/

# Exclude PyInstaller output
dist/
build/
main-window-build/
*.exe

# PyInstaller temporary metadata
*.toc
*.manifest
*.pyz
